# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# node-waf configuration
.lock-wscript
package-lock.json

#dotenv
.env

#test repo
.nyc_output/

#editorconfig
.editorconfig

#dist
dist

# Prisma repo
./prisma
generated
prisma/docker-compose.yml

assets/audios/
assets/images/

# static files
static/*

